@model DigInteligencia.Models.TaskToDoList

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>New List</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col">
                    <form id="fCreateList" class="">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Name</label>
                            <input id="tbName" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">
                                <i class="fa fa-plus">&nbsp;</i> Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    jQuery().ready(function () {
        jQuery("#fCreateList").on("submit", function () {
            var tbName = jQuery("#tbName").val();
            if (tbName != "") {
                jQuery.ajax({
                    url: '@Url.Action("PostTaskToDoList", "TaskToDoList")',
                    contentType: 'application/json',
                    type: 'POST',
                    data: "{ Name: '" + tbName + "' }",
                    dataType: 'json',
                    success: function (data) {
                        jQuery("#FModal").modal("hide");
                        LoadLists();
                    },
                    error: function (a, b, c) {
                        console.log("Error to try to create new List. Try again later.");
                    }
                });
            }
            return false;
        });
    });
</script>
